@import "tailwindcss";

@theme {
  --color-background: #111111;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
}

body {
  @apply bg-background text-white antialiased;
}
